<head>
  <link rel="stylesheet" href="/Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/Content/css/single-styles.css" type="text/css">
</head>
<body>
  <h1 class="page-header">@Model["selectedBand"].GetName()</h1>
  <h2>@Model["selectedBand"].GetDescription()</h2>
  <h3>Genre: @Model["selectedBand"].GetMusicGenre()</h3>
  <h3>@Model["selectedBand"].GetWebsite()</h3>
  <h3>Update Band</h3>
  <form class="form-group" action='/bands/@Model["selectedBand"].GetId()/@Model["selectedBand"].GetName()/updated' method="post">
    <div class="row">
      <div class="col-xs-3">
        <p>Name <input required type="text" name="update-band-name" class="form-control"></p>
      </div>
      <div class="col-xs-3">
        <p>Music Genre <input required type="text" name="update-band-music-genre" class="form-control"></p>
      </div>
    </div>
    <p>Description <input required type="text" name="update-band-description" class="form-control"></p>
    <p>Website <input required type="text" name="update-band-website" class="form-control"></p>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
  <h2>View All Venues This Band Has Played At</h2>
  @if (Model["selectedBand"].GetVenues().Count == 0)
  {
    <h3>There are currently no venues in our records</h3>
  }
  else
  {
    @foreach (var venue in Model["selectedBand"].GetVenues())
    {
      <h2>@venue.GetName() on @venue.GetEventDate()</h2>
    }
  }
  <h3>Add a Venue</h3>
  <form class="form-group" action='/bands/@Model["selectedBand"].GetId()/@Model["selectedBand"].GetName()/add_venue' method="post">
    <select class="form-control" name="venue-id">
      @foreach (var venue in Model["allVenues"])
      {
        <option value="@venue.GetId()">@venue.GetName()</option>
      }
    </select>
    <button type="submit" class="btn btn-success">Add</button>
  </form>
  <form class="form-group" action='/bands/@Model["selectedBand"].GetId()/@Model["selectedBand"].GetName()/deleted' method="post">
    <button type="submit" class="btn btn-danger">Delete Band</button>
  </form>
  <a href="/bands">Bands List</a>
  <a href="/">Home</a>
</body>
